.root {
  width: 100%;
}

.title {
}

.description {
  font-size: 14pt;
  margin-top: 5px;
  margin-bottom: 10px;
}

.example {
  position: relative;
  width: 100%;
  height: 60vh;
}

.codeBlock {
  margin-top: 10px;
}

