{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "standard"
  ],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "plugins": [
    "notice",
    "import"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "prefer-template": "error",
    "no-useless-constructor": "off",
    "import/extensions": 0,
    "import/no-unresolved": [2, {"commonjs": true, "amd": true}],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/first": ["error", "absolute-first"],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
    }],
    "indent": ["error", 2],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-undef": 0,
    "no-unused-vars": 0,
    "notice/notice":[ "error",
      {
        "mustMatch": "Copyright \\(c\\) (Volterra), Inc. All rights reserved.",
        "template": "// Copyright (c) Volterra, Inc. All rights reserved.\n",
        "onNonMatchingHeader": "replace"
      }
    ],
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": ["error"],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/type-annotation-spacing": ["error"],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "semi",
        "requireLast": true
      },
      "singleline": {
        "delimiter": "semi",
        "requireLast": false
      }
    }],
    "multiline-ternary": "off"
  }
}
