# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
demo/dist
tmp
out-tsc
packages/*/lib
packages/*/build
packages/*/dist-demo

# dependencies
node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
docs/jsdoc/
/nbproject/private/
nbproject/
*bundle*
docs-html/
.git-pack-cache
.eslintcache
stats.html
.cache/
.autogen.js
packages/ts/package-lock.json
packages/angular/package-lock.json
packages/react/package-lock.json
packages/svelte/package-lock.json
yarn.lock
.srcsha
licences.temp

# System Files
.DS_Store
Thumbs.db

# Cypress
packages/*/cypress/screenshots/