<h3>Many Lines Chart</h3>
<div #many class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="manyLineComponents"
  [componentConfigs]="[manyLineConfig]"
  [axes]="manyLineAxes"
  [data]="data"
 ></vis-xychart>
</div>
<h3>Few Lines Chart</h3>
<div #few class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="fewLineComponents"
  [componentConfigs]="[fewLineConfig]"
  [axes]="fewLineAxes"
  [data]="data"
 ></vis-xychart>
</div>
<h3>Dynamic Number of Lines Chart</h3>
<div #dynamic class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="dynamicLineComponents"
  [componentConfigs]="[dynamicLineConfig]"
  [axes]="dynamicLineAxes"
  [tooltip]="tooltip"
  [data]="data"
 ></vis-xychart>
</div>
<h3>Single Line Chart</h3>
<div #single class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="singleLineComponents"
  [componentConfigs]="[singleLineConfig]"
  [axes]="singleLineAxes"
  [data]="data"
 ></vis-xychart>
</div>
<h3>Zero Lines Chart</h3>
<div #zero class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="zeroLineComponents"
  [componentConfigs]="[zeroLineConfig]"
  [axes]="zeroLineAxes"
  [data]="data"
 ></vis-xychart>
</div>