.chart {
  position: relative;
  height: 374px;
  width: 100%;

  --vis-sankey-link-color: #e6e9f3;
  --vis-sankey-node-label-color: #0f1e57;
  --vis-sankey-node-label-font-weight: 700;
  --vis-sankey-node-sublabel-font-weight: 400;
  --vis-sankey-node-opacity: 1;
}
