<div class="chart">
  <vis-xy-container [margin]="margin" [padding]="padding" [data]="data">
    <vis-area [x]="x" [y]="y" [baseline]="baseline" [opacity]="1"></vis-area>
    <vis-crosshair [x]="x" [y]="y" template="hello"></vis-crosshair>
    <vis-axis type="x" label="X Axis"></vis-axis>
    <vis-axis type="y" label="Y Axis"></vis-axis>
    <vis-free-brush mode="x" [selectionMinLength]="0.25"></vis-free-brush>
  </vis-xy-container>
</div>
<div class="annotation">︎Press the left mouse button and move the cursor around to draw a selection</div>
