.input-wrapper {
  position: relative;
}

.prop-input-label, .toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 1em;
  top: 1.25em;
}

.prop-input-label {
  padding: 5px;
  font-size: smaller;
}

.prop-name {
  margin: 0 0.5em;
  font-weight: bold;
}

.prop-preview-menu {
  font-size: small;
  justify-content: center;
}

.prop-preview-menu > li {
  border-radius: 10px;
  border: 1px solid var(--ifm-color-primary);
  padding: 5px;
  margin: 5px;
  text-transform: capitalize;
}

.prop-preview-menu > li[aria-selected="true"] {
  background: var(--ifm-color-primary);
  color: white;
}

.prop-preview-menu + div {
  margin-top: 0 !important;
}

.inner-tabs  {
  position: absolute;
  left: 50%;
  font-size: small;
}

details[open=true]  ul.tabs {
  position: absolute;
}

.inner-tabs > li[aria-selected="true"]li[label="Hide"] {
  background: var(--ifm-color-primary);
  color: white;
}

.hidden {
  display: none;
}

.toggle {
  width: 48px;
  position: absolute;
  color: white;
}

.slider {
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  height: 24px;
  width: 100%;
  border-radius: 12px;
  background-color: #3e3e3e
}

.slider::after {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  transition: .2s;
}

.toggle > input:checked +.slider::after {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.toggle > .slider::before {
  position: absolute;
  content: '▶';
  right: 0;
  margin: 0 6px;
}

.toggle > input:checked + .slider::before {
  content: '॥';
  left: 0;
  font-size: large;
  top: -2px;
  margin-left: 8px;
}

/* custom vis components */
.custom-area {
  --vis-area-fill-opacity: 0.5;
  --vis-area-hover-fill-opacity: 1;
  --vis-area-stroke-width: 1px;
}

.custom-line {
  --vis-line-cursor: cell;
  --vis-line-stroke-dasharray: 55 15;
  --vis-line-stroke-dashoffset: 0;
}

.custom-axis {
  --vis-axis-tick-label-font-size: 20px;
  --vis-axis-label-color: #1acb9a;
  --vis-axis-font-family: monospace;
  --vis-axis-tick-label-color:  #8777d9;
}

.custom-stacked-bar {
  --vis-stacked-bar-stroke: #000;
  --vis-stacked-bar-stroke-width: 5px;
  --vis-stacked-bar-hover-stroke-width: 10px;
  --vis-stacked-bar-hover-stroke: #8777d9;
}

.custom-grouped-bar {
  --vis-grouped-bar-stroke-width: 2px;
  --vis-grouped-bar-stroke: #000;
  --vis-grouped-bar-cursor: crosshair;
}

.custom-scatter {
  --vis-scatter-fill-opacity: 0.5;
  --vis-scatter-stroke-width: 1;
  --vis-scatter-hover-stroke-width: 2;
  --vis-scatter-point-label-text-color-dark: darkblue;
}

.custom-crosshair {
  --vis-crosshair-line-stroke: #f88080;
  --vis-crosshair-circle-stroke: #000000;
}
