.visContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 99%;
}

.chartLegend {
  flex-grow: 0;
}

.chartMain {
  /* position: relative; */
  flex-grow: 1;
  overflow: auto;
}

.chartNavigation {
  flex-grow: 0;
  height: 25%;
}