<h3>Many Data Scatter Chart</h3>
<div #many class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="manyDataComponents"
  [componentConfigs]="[config]"
  [axes]="manyAxes"
  [data]="manyData"
 ></vis-xychart>
</div>
<h3>Few Data Scatter Chart</h3>
<div #few class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="fewDataComponents"
  [componentConfigs]="[config]"
  [axes]="fewAxes"
  [data]="fewData"
 ></vis-xychart>
</div>
<h3>Dynamic Data Scatter Chart</h3>
<div #dynamic class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="dynamicDataComponents"
  [componentConfigs]="[config]"
  [axes]="dynamicAxes"
  [tooltip]="tooltip"
  [data]="dynamicData"
 ></vis-xychart>
</div>
<h3>Scatter Chart with a single data item</h3>
<div #single class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="singleDataComponents"
  [componentConfigs]="[config]"
  [axes]="singleAxes"
  [data]="singleData"
 ></vis-xychart>
</div>
<h3>Scatter Chart with a zero data items</h3>
<div #zero class="chart">
  <vis-xychart 
  [margin]="margin"
  [components]="zeroDataComponents"
  [componentConfigs]="[config]"
  [axes]="zeroAxes"
  [data]="zeroData"
 ></vis-xychart>
</div>