.timelineNavigationChart {
  position: relative;
  width: 100%;
  height: 500px;
  font-family: Inter, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.timeline {
  position: relative;
  width: 100%;
  height: 70%;
}

.navigation {
  position: relative;
  height: 30%;
  width: 100%;
}
