.timeSeriesContainer {
  position: relative;
  height: 400px;
  width: 100%;
  font-family: sans-serif;
}

.timeSeriesModule {
  width: 100%;
  height: 70%;
  position: relative;
}

.navigationModule {
  width: 100%;
  height: 30%;
  position: relative;
}
