:root {
  --color-active: #2299ff;
  --color-slider-bg: var(--color-grey);
  --color-slider-icon: #fff;
}

body.theme-dark {
  --color-slider-bg: #eee;
  --color-slider-icon: var(--color-grey);
}

.themeSelector {
  position: absolute;
  right: 8px;
  z-index: 999;
  border-radius: 10px;
  display: flex;
}

.themeSelector label {
  cursor: pointer;
  margin: 0 2px;
}

.themeSelector input[type='checkbox'] {
  display: none;
}

.colorTheme {
  border-radius: 20px;
  position: relative;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-slider-bg);
  color: var(--color-slider-icon);
  border-radius: 90px;
  min-width: 2.5em;
  height: 100%;
  padding: 2px 0.25em;
}


.slider::after {
  position: absolute;
  content: '';
  left: 0;
  width: 1.3em;
  height: 1.3em;
  background: var(--color-active);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .slider::after {
  transform: translateX(100%);
}

.patternTheme > input:not(:checked) + span {
  opacity: 0.6;
}

.patternTheme > input:checked + span {
  color: var(--color-active);
}