.center {
  margin: 0 auto;
  width: min-content;
  --vis-map-feature-color: var(--vis-color-main);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.vert {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block {
  background: url('../../static/img//unovis-image-2.svg');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}