.vis-container {
  position: absolute;
  left: 200px;
  margin: 10px;
  right: 0;
  top: 0px;
  bottom: 0px;
  overflow-y: auto;
}

.sidebar {
  font-size: 15px;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0px 20px -10px #e4e4e4;
}

a {
  display: block;

  padding: 5px;
  text-decoration: unset;
  color: #009afb;
}