<nav class="sidebar">
  <a routerLink="scatter">Scatter</a>
  <a routerLink="line">Line</a>
  <a routerLink="stacked-bar">Stacked Bar</a>
  <a routerLink="single">Single</a>
  <a routerLink="composite">Composite</a>
  <a routerLink="sankey">Sankey</a>
  <a routerLink="wrapper-usage-example">Wrapper Usage Example</a>
  <a routerLink="timeline">Timeline</a>
  <a routerLink="area-composite">Area Composite</a>
  <a routerLink="simplemap">Simple Map</a>
  <a routerLink="map">Map</a>
</nav>
<div class="vis-container">
  <router-outlet></router-outlet>
</div>
