.vis-container {
  position: absolute;
  left: 200px;
  // margin: 10px;
  right: 0;
  top: 0px;
  bottom: 0px;
  // overflow-y: auto;
  overflow-x: visible;
}

.sidebar {
  font-size: 14px;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  /* box-shadow: 3px 0px 20px -10px #e4e4e4; */
  padding: 10px;
  backdrop-filter: blur(5px);
}

.block-header {
  padding: 16px 8px;
  color: #5242aa;
  font-size: 12pt;
}

a {
  display: block;

  padding: 5px 14px;
  text-decoration: unset;
  color: #8a8d95;

  &:hover {
    color: #ff716f;
  }
}

.logo {
  padding: 8px 5px;
  
  .alpha {
    margin-left: 5px;
    color: #5242aa;
    vertical-align: top;
    font-weight: 500;
    font-size: 7pt;
  }
}

.logo-image {
  width: 50px;
  height: 50px;
}