.root {
  width: 100%;
  padding: 5% 5%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  height: 13em;
  padding: 2em 5em;
}

.logo > img {
  height: 100%;
}
